<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./partials/head') %>
    <title>Homepage</title>
  </head>
  <body>
    <%- include('./partials/nav') %>

    <div class="container mt-3">
      <div class="row row-cols-4">
        <% blogs.forEach(blog => { %>
        <div class="col">
          <div class="card col" style="width: 18rem">
            <img src="<%= blog.coverImageURL %>" class="card-img-top" />
            <div class="card-body">
              <h5 class="card-title"><%= blog.title %></h5>
              <p class="card-text text-muted mb-2" style="font-size: 0.9em;">
                <span><%= blog.views %> Views</span> &bull; 
                <span><%= blog.readingTime %> Min Read</span>
              </p>
              <% if (blog.category) { %>
                <span class="badge bg-primary mb-2"><%= blog.category %></span>
              <% } %>
              <br/>
              <a href="/blog/<%= blog._id %>" class="btn btn-primary mt-2">View</a>
            </div>
          </div>
        </div>
        <% }) %>
      </div>
    </div>

    <%- include('./partials/script') %>
  </body>
</html>
